{% extends "base.html" %}
{% block title %}
{{ article.title|striptags|e }} {%if article.subtitle %} - {{ article.subtitle|striptags|e }} {% endif %} · {{ super() }}
{% endblock title %}

{#
{% block head %}
{{ super() }}
{% endblock head %}
#}

{% block toc %}
  {% if article.series %}
    {% for art in article.series.all_previous %}
    <a href="{{ SITEURL }}/{{ art.url }}">{{art.title}} </a>
    {% endfor %}
    <hr>
  {% endif %}
  {% if article.toc %}
    <div class="uppercase">{{article.title}}</div>
    {{article.toc}}
  {% elif article.series %}
    <div class="uppercase">{{article.title}}</div>
  {% endif %}
  {% if article.series %}
    <hr>
    {% for art in article.series.all_next %}
    <a href="{{ SITEURL }}/{{ art.url }}">{{art.title}} </a>
    {% endfor %}
  {% endif %}
{% endblock toc %}

{% block content %}
<section id="content" class="body">
  <div class="marginnote"> {# Notes about article #}
    <hr>
    <div class="article-information">
      <div class="article-information-heading uppercase">Published</div>
      <time class="published" datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </time>
      {% if article.author %}
      <div class="article-information-heading uppercase">Author {{ article.author }}</div>
      {% endif %}
      {% if article.modified %}
      <div class="article-information-heading uppercase">Modified</div>
      <time class="modified" datetime="{{ article.modified.isoformat() }}">
        {{ article.locale_modified }}
      </time>
      {% endif %}
      {% if article.category %}
      <div class="article-information-heading uppercase">Category</div>
      <div>
        <a href="{{ SITEURL }}/categories.html#{{ article.category}}-ref">{{ article.category }}</a>
      </div>
      {% endif %}
      {% if article.tags %}
      <div class="article-information-heading uppercase">Tags</div>
      <div>
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/tags#{{ tag }}-ref">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <hr>
  </div>

  <header><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
    <h1 class="article-title">
      {{ article.title }}
    </h1>
    <h3>
      {% if article.subtitle %}
        {{ article.subtitle }}
      {% endif %}
    </h3>
  </a></header>

  <div class="article-content">
    {{ article.content }}
  </div>
</section>
{% endblock content %}

{% block content_footer %}
  {% if article.prev_article_in_category %}
  <span class="left">
    &lt;
    <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">
      {{ article.prev_article_in_category.title }}
    </a>
  </span>
  {% endif %}
  {% if article.next_article_in_category %}
  <span class="right">
    <a href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">
      {{ article.next_article_in_category.title }}
    </a>
    &gt;
  </span>
  {% endif %}
{% endblock content_footer %}
