<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}

    {# Stylesheets #}
    
    <link href="/theme/css/MyTheme.css" rel="stylesheet">
    <link href="/theme/css/pygments.css" rel="stylesheet">
    
    {# Icons #}
    <link rel="shortcut icon" href="{{ SITEURL }}/images/favicon.ico"/>
</head>

<body>

  <div class="sidebar"> 
    <nav id="sidebar">
      <div class="sidebar-header">
        <div class="sitename"><a href="/">{{ SITENAME }}</a></div>
        <div><small>{{ BIO_TEXT }}</small></div>
        <div id="sidebar-links">
          <small>
            <a href="/">Posts</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/categories.html">Categories</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/tags.html">Tags</a>
          </small>
        </div>
      </div>
      <hr>
      <div class="sidebar-content">
        <div class="toc">{% block toc %}{% endblock %}</div>
      </div>
      <div id="footer"><small><a href="/pages/colophon.html">Colophon</a></small></div>
    </nav>
  </div>

  <nav class="phone-header">
    <div class="sitename"><a href="/">{{ SITENAME }}</a></div>
    <div><small>{{ BIO_TEXT }}</small></div>
    <div><small>
      <a href="/">Posts</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/categories.html">Categories</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/tags.html">Tags</a>
      </small></div>
  </nav>

  <div class="content"> 
    <article>
        {% block content %}{% endblock content %}
    </article>
  </div>

  <div class="fullwidth">
    {% block content_footer %}{% endblock content_footer%}
  </div>
</body>
</html>
