<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}

    {#Stylesheets#}
    
    <link href="/theme/css/MyTheme.css" rel="stylesheet">
    <link href="/theme/css/pygments.css" rel="stylesheet">
    
    {#Icons#}
    <link rel="shortcut icon" href="{{ SITEURL }}/images/favicon.ico"/>


 </head>

<body>
<div id="layout"> {# class="pure-g"#}

{#This means the sidebar is full-width on mobile (u) and a bit less than 1/4 on larger screens (md)#}
<div class="sidebar"> {# pure-u-1 pure-u-md-5-24#}
    <nav id="sidebar">
      <div class="sidebar-header">
        <div class="sitename"><a href="/">{{ SITENAME }}</a></div>
        <div><small>{{ BIO_TEXT }}</small></div>
        <div id="sidebar-links">
          <small>
            <a href="/">Posts</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/categories.html">Categories</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/tags.html">Tags</a>
          </small>
        </div>
      </div>
      <hr>
      <div class="sidebar-content">
        <div class="toc">{% block toc %}{% endblock %}</div>
      </div>
      <div id="footer"><small><a href="/pages/colophon.html">Colophon</a></small></div>
    </nav>
</div>

<nav class="phone-header">
  <div class="sitename"><a href="/">{{ SITENAME }}</a></div>
  <div><small>{{ BIO_TEXT }}</small></div>
  <div><small>
    <a href="/">Posts</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/categories.html">Categories</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/tags.html">Tags</a>
    </small></div>
</nav>

{#The main text (+margin) is full width on mobile and 4/5th on computer screens#}
       <div class="content pure-u-1 pure-u-md-4-5">
           <article>
               {% block content %}{% endblock %}
               <hr>
           </article>
       </div>
   </div> {#Closes the layout div#}
 </body>
</html>
