{% extends "base.html" %}
{% block title %}
{{ category.title}} 
{% endblock title %}

{% block toc %}
    {% for art in articles |selectattr("series") |sort(attribute="series.name,series_index") %} 
        <a href="{{ SITEURL }}/{{ art.url }}">{{art.title}} </a> <br>
    {% endfor %}
    {% for art in articles if not art.series %}
        <a href="{{ SITEURL }}/{{ art.url }}">{{art.title}} </a> <br>
    {% endfor %}
{% endblock toc %}

{% block content %}
    {{category.title}}
    <section id="content" class="body">
        {{category.description}}
    </section>
{% endblock %}
