{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block toc %}
<div class="uppercase">Recent Posts</div>
<hr>
<div>
  <ul>
    {% for article in articles_page.object_list %}
    {% if loop.index <= 5 %}
      <li>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
      </li>
    {% endif %}
    {% endfor %}
</ul>
</div>
{% endblock toc %}

{% block content %}
<section id="content">
  {% for cat,arts in categories %} 
    {% for article in arts |selectattr("series") |sort(attribute="series.name,series_index") %} 
{#{% for (article in articles if article.series) |sort(attribute="category,series.name,series_index") %} #}
      <article class="hentry">
        <div class="marginnote">
          <div class="condensed-font">
            <time class="published" datetime="{{ article.date.isoformat() }}">
              {{ article.locale_date }}
            </time>
          </div>
        </div>
        <div class="article-title">
          <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
          <h4>
            {%if article.subtitle %}
            {{ article.subtitle }}
            {% endif %}
          </h4>
        </div>
        <div class="article-content">
          -- {{article.category}} --
          {{ article.summary }} -- {{article.series.name}} -- {{article.series.index}}
        </div>
      </article> 
    {% endfor %}
    -- end of series --
    {% for article in arts if not article.series %}
    <article class="hentry">
      <div class="marginnote">
        <div class="condensed-font">
          <time class="published" datetime="{{ article.date.isoformat() }}">
            {{ article.locale_date }}
          </time>
          - jaj
        </div>
      </div>
      <div class="article-title">
        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <h4>
          {%if article.subtitle %}
          {{ article.subtitle }}
          {% endif %}
        </h4>
      </div>
      <div class="article-content">
        -- {{article.category}} --
        {{ article.summary }} 
      </div>
    </article>
    {% endfor %}
  {% endfor %}  
  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section>
{% endblock content %}
