/*
1. First use google fonts to download webfonts 
2. Then create font stacks for each font family
3. Where to set up base font size and styles for each class???
*/ 

/* look into font face and using google fonts */
/* start download of google fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Code|Fira+Sans+Condensed|Raleway|VT323&display=swap'); 

$body-font-stack: "Gentium","Palatino",serif; // body text 
$code-font-stack: "hack", "Fira Code", monospace; // Code sample fonts 
$condensed-font-stack: "Linux Biolinum", sans-serif; // section titles 
$sitename-font-stack: "VT323"; // Site title only
$headings-font-stack: $condensed-font-stack;
$sidenote-font-stack: $body-font-stack;